<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InterfaceTablesGridView.aspx.cs" Inherits="Administration_InterfaceTablesGridView" Title="InterfaceTables" MasterPageFile="~/MasterPages/MasterPage.master" Theme="Default" %>
 
<%@ Register Src="../UserControls/InterfaceTablesGridView.ascx" TagName="InterfaceTablesGridView" TagPrefix="uc1" %>
 
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeading" Runat="Server">
    <asp:Label ID="LabelAgenda" runat="server" SkinID="AgendaTitle" Text="Static Maintenance"></asp:Label>
    <br />
    <asp:Label ID="LabelTitle" runat="server" SkinID="PageTitle" Text="InterfaceTables Administration"></asp:Label>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="InterfaceTables">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="InterfaceTables" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
    <uc1:InterfaceTablesGridView ID="InterfaceTablesGridView1" runat="server" />
</asp:Content>
