<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SerialNumberFormView.aspx.cs" Inherits="Administration_SerialNumberFormView" Theme="Default" %>
 
<%@ Register Src="../UserControls/SerialNumberFormView.ascx" TagName="SerialNumberFormView" TagPrefix="uc1" %>
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Add SerialNumber</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <uc1:SerialNumberFormView ID="SerialNumberFormView1" runat="server" />
    </div>
    </form>
</body>
</html>
