﻿body
{
    font-size:small;
}

textarea
{
    font-size:small;
}
.Header 
{
	color: #ffffff;
	background-color: #485889;
	font-size:large;
}
.txtbx 
{
    color:#485889;
	font-size:small;
}
#MasterTable
{
	height:240px;
}