<%@ Page Language="C#" MasterPageFile="~/MasterPages/MasterPage.master" AutoEventWireup="true"
    CodeFile="ManageOperators.aspx.cs" Inherits="Common_ManageOperators" Title="<%$ Resources:Default, ManageOperatorsTitle %>"
    StylesheetTheme="Default" Theme="Default" %>

<%@ MasterType VirtualPath="~/MasterPages/MasterPage.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeading" runat="Server">
    <asp:Label ID="LabelHeading" runat="server" SkinID="PageTitle" Text="<%$ Resources:Default, ManageOperatorsTitle %>"></asp:Label>
    <br />
    <asp:Label ID="LabelAgenda" runat="server" SkinID="AgendaTitle" Text="<%$ Resources:Default, ManageOperatorsAgenda %>"></asp:Label>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" runat="Server">
    <table>
        <tr>
            <td>
                <asp:Label ID="Label1" runat="server" Text='Show Operators'></asp:Label>
                <asp:RadioButtonList ID="rblActiveOnly" runat="server" RepeatDirection="Horizontal"
                    RepeatLayout="Flow">
                    <asp:ListItem Selected="True" Text='Active Only' Value="true"></asp:ListItem>
                    <asp:ListItem Text='Both' Value="false"></asp:ListItem>
                </asp:RadioButtonList>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="ButtonSelect" runat="server" Text="<%$ Resources:Default, SelectAll %>"
                    OnClick="ButtonSelect_Click" />
                <asp:Button ID="ButtonPrint" runat="server" Text="<%$ Resources:Default, Print %>"
                    OnClick="ButtonPrint_Click" />
            </td>
        </tr>
    </table>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:GridView ID="GridViewOperators" runat="server" DataKeyNames="OperatorId" AutoGenerateEditButton="true"
                AutoGenerateDeleteButton="true" DataSourceID="OperatorDetails" AllowPaging="true"
                PageSize="20" AutoGenerateColumns="False">
                <Columns>
                    <asp:TemplateField HeaderText="<%$ Resources:Default, Select%>">
                        <ItemTemplate>
                            <asp:CheckBox ID="CheckBoxEdit" runat="server"></asp:CheckBox>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:BoundField DataField="Operator" HeaderText="<%$ Resources:Default, Operator%>"
                        ReadOnly="true" />
                    <asp:BoundField DataField="OperatorId" Visible="False" ReadOnly="true" />
                    <asp:TemplateField HeaderText="<%$ Resources:Default, Group%>">
                        <ItemTemplate>
                            <asp:Label ID="Operator1" runat="server" Text='<%# Bind("OperatorGroup") %>'></asp:Label>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:DropDownList ID="DropDownListOperators" DataSourceID="ObjectDataSourceOperators"
                                DataValueField="OperatorGroupId" DataTextField="OperatorGroup" SelectedValue='<%# Bind("OperatorGroupId") %>'
                                runat="server">
                            </asp:DropDownList>
                        </EditItemTemplate>
                    </asp:TemplateField>
                    <asp:BoundField DataField="OperatorCode" HeaderText="<%$ Resources:Default, OperatorCode%>"
                        ReadOnly="true" />
                    <asp:TemplateField HeaderText="<%$ Resources:Default, Active%>">
                        <ItemTemplate>
                            <asp:CheckBox ID="CheckBoxItemActiveIndicator" runat="server" Checked='<%# Bind("ActiveIndicator") %>'
                                Enabled="false" />
                        </ItemTemplate>
                        <InsertItemTemplate>
                            <asp:CheckBox ID="CheckBoxInsertActiveIndicator" runat="server" Checked='<%# Bind("ActiveIndicator") %>' />
                        </InsertItemTemplate>
                        <EditItemTemplate>
                            <asp:CheckBox ID="CheckBoxEditActiveIndicator" runat="server" Checked='<%# Bind("ActiveIndicator") %>' />
                        </EditItemTemplate>
                        <FooterStyle Wrap="False" />
                    </asp:TemplateField>
                    <asp:BoundField DataField="ExpiryDate" HeaderText="<%$ Resources:Default, ExpiryDate%>"
                        ReadOnly="true" />
                    <asp:BoundField DataField="LastInstruction" HeaderText="<%$ Resources:Default, LastInstruction%>"
                        ReadOnly="true" />
                    <asp:BoundField DataField="Printer" HeaderText="<%$ Resources:Default, Printer%>"
                        ReadOnly="false" />
                    <asp:BoundField DataField="Port" HeaderText="<%$ Resources:Default, Port%>" ReadOnly="false" />
                    <asp:BoundField DataField="IpAddress" HeaderText="<%$ Resources:Default, IpAddress%>"
                        ReadOnly="false" />
                    <asp:TemplateField HeaderText="<%$ Resources:Default, Culture%>">
                        <ItemTemplate>
                            <asp:Label ID="CultureName3" runat="server" Text='<%# Bind("CultureName") %>'></asp:Label>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:DropDownList ID="DropDownListCulture" runat="server" DataSourceID="ObjectDataSourceCulture"
                                DataValueField="CultureId" DataTextField="CultureName" SelectedValue='<%# Bind("CultureId") %>'>
                            </asp:DropDownList>
                        </EditItemTemplate>
                    </asp:TemplateField>
                    <asp:TemplateField HeaderText="<%$ Resources:Default, Warehouse%>">
                        <ItemTemplate>
                            <asp:Label ID="LabelWarehouse" runat="server" Text='<%# Bind("Warehouse") %>'></asp:Label>
                        </ItemTemplate>
                        <EditItemTemplate>
                            <asp:DropDownList ID="DropDownListWarehouse" runat="server" DataSourceID="ObjectDataSourceWarehouses"
                                DataValueField="WarehouseId" DataTextField="Warehouse" SelectedValue='<%# Bind("WarehouseId") %>'>
                            </asp:DropDownList>
                        </EditItemTemplate>
                    </asp:TemplateField>
                </Columns>
            </asp:GridView>
            <asp:ObjectDataSource ID="ObjectDataSourceCulture" TypeName="Operator" SelectMethod="GetCultures"
                runat="server">
                <SelectParameters>
                    <asp:SessionParameter Name="connectionStringName" SessionField="ConnectionStringName"
                        Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
            <asp:ObjectDataSource ID="ObjectDataSourceOperators" TypeName="Operator" SelectMethod="GetOperatorGroups"
                runat="server">
                <SelectParameters>
                    <asp:SessionParameter Name="connectionStringName" SessionField="ConnectionStringName"
                        Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
            <asp:ObjectDataSource ID="ObjectDataSourceWarehouses" TypeName="Warehouse" SelectMethod="GetWarehouses"
                runat="server">
                <SelectParameters>
                    <asp:SessionParameter Name="connectionStringName" SessionField="ConnectionStringName"
                        Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </ContentTemplate>
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="ButtonSelect" EventName="Click" />
        </Triggers>
    </asp:UpdatePanel>
    <asp:ObjectDataSource ID="OperatorDetails" runat="server" TypeName="Operator" SelectMethod="GetOperatorsDetails"
        UpdateMethod="UpdateOperator" DeleteMethod="DeleteOperator">
        <SelectParameters>
            <asp:SessionParameter Name="connectionStringName" SessionField="ConnectionStringName"
                Type="String" />
            <asp:SessionParameter Type="Int32" Name="warehouseId" SessionField="warehouseId" />
            <asp:ControlParameter Name="rblActiveOnly" ControlID="rblActiveOnly" Type="Boolean" />
        </SelectParameters>
        <UpdateParameters>
            <asp:SessionParameter Name="connectionStringName" SessionField="ConnectionStringName"
                Type="String" />
            <asp:Parameter Name="operatorId" Type="int32" />
            <asp:Parameter Name="operatorGroupId" Type="int32" />
            <asp:Parameter Name="ActiveIndicator" Type="Boolean" />
            <asp:Parameter Name="cultureId" Type="int32" />
            <asp:Parameter Name="printer" Type="String" DefaultValue="" />
            <asp:Parameter Name="port" Type="String" DefaultValue="" />
            <asp:Parameter Name="iPAddress" Type="String" DefaultValue="" />
            <asp:Parameter Name="warehouseId" Type="int32" />
        </UpdateParameters>
        <DeleteParameters>
            <asp:SessionParameter Name="connectionStringName" SessionField="ConnectionStringName"
                Type="String" />
            <asp:Parameter Name="operatorId" Type="int32" />
        </DeleteParameters>
    </asp:ObjectDataSource>
</asp:Content>
