<%@ Page Language="C#" %>
<%@ Register Src="NLWAX.ascx" TagName="NLWAX" TagPrefix="nl" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>
<script type="text/javascript" language="javascript" src="global.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <NL:NLWAX ID="NLWAX1" runat="server" />
    </div>
    </form>
</body>
</html>
