<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AlternatePickLocationPickface.ascx.cs" Inherits="Screens_AlternatePickLocationPickface" %>
<asp:Button ID="lbAlternate" runat="server" TabIndex="10" Text="<%$ Resources:Default, AlterLocation %>" OnClick="lbAlternate_Click"></asp:Button>
