<%@ Page Language="C#" 
    MasterPageFile="~/Master.master" 
    AutoEventWireup="true" 
    CodeFile="SerialNumbers.aspx.cs" 
    Inherits="Screens_SerialNumbers" 
    Title="Untitled Page" %>

<%@ Register Src="SerialNumbers.ascx" TagName="SerialNumbers" TagPrefix="uc1" %>

<%@ MasterType VirtualPath="~/Master.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:SerialNumbers ID="SerialNumbers1" runat="server" />
</asp:Content>
        