<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InboundDocumentTypeGridView.ascx.cs" Inherits="UserControls_InboundDocumentTypeGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxInboundDocumentTypeCode" runat="server" Label="InboundDocumentTypeCode" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxInboundDocumentType" runat="server" Label="InboundDocumentType" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListPriorityId" runat="server" DataSourceID="ObjectDataSourceDDLPriorityId"
                DataTextField="Priority" DataValueField="PriorityId" Label="Priority" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLPriorityId" runat="server" TypeName="StaticInfoPriority"
                SelectMethod="ParameterPriority">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridInboundDocumentType" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceInboundDocumentType" OnSelectedIndexChanged="RadGridInboundDocumentType_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
InboundDocumentTypeId
" DataSourceID="ObjectDataSourceInboundDocumentType"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="InboundDocumentTypeId" HeaderText="InboundDocumentTypeId" SortExpression="InboundDocumentTypeId" UniqueName="InboundDocumentTypeId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="InboundDocumentTypeCode" HeaderText="InboundDocumentTypeCode" SortExpression="InboundDocumentTypeCode" UniqueName="InboundDocumentTypeCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="InboundDocumentType" HeaderText="InboundDocumentType" SortExpression="InboundDocumentType" UniqueName="InboundDocumentType"></telerik:GridBoundColumn>
                        <telerik:GridCheckBoxColumn DataField="OverReceiveIndicator" HeaderText="OverReceiveIndicator" SortExpression="OverReceiveIndicator" UniqueName="OverReceiveIndicator"></telerik:GridCheckBoxColumn>
                        <telerik:GridCheckBoxColumn DataField="AllowManualCreate" HeaderText="AllowManualCreate" SortExpression="AllowManualCreate" UniqueName="AllowManualCreate"></telerik:GridCheckBoxColumn>
                        <telerik:GridCheckBoxColumn DataField="QuantityToFollowIndicator" HeaderText="QuantityToFollowIndicator" SortExpression="QuantityToFollowIndicator" UniqueName="QuantityToFollowIndicator"></telerik:GridCheckBoxColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListPriorityId" ListTextField="Priority" ListValueField="PriorityId" DataSourceID="ObjectDataSourcePriorityId" DataField="PriorityId" HeaderText="Priority">
            </telerik:GridDropDownColumn>
                        <telerik:GridCheckBoxColumn DataField="AutoSendup" HeaderText="AutoSendup" SortExpression="AutoSendup" UniqueName="AutoSendup"></telerik:GridCheckBoxColumn>
                        <telerik:GridCheckBoxColumn DataField="BatchButton" HeaderText="BatchButton" SortExpression="BatchButton" UniqueName="BatchButton"></telerik:GridCheckBoxColumn>
                        <telerik:GridCheckBoxColumn DataField="BatchSelect" HeaderText="BatchSelect" SortExpression="BatchSelect" UniqueName="BatchSelect"></telerik:GridCheckBoxColumn>
                        <telerik:GridCheckBoxColumn DataField="DeliveryNoteNumber" HeaderText="DeliveryNoteNumber" SortExpression="DeliveryNoteNumber" UniqueName="DeliveryNoteNumber"></telerik:GridCheckBoxColumn>
                        <telerik:GridCheckBoxColumn DataField="VehicleRegistration" HeaderText="VehicleRegistration" SortExpression="VehicleRegistration" UniqueName="VehicleRegistration"></telerik:GridCheckBoxColumn>
            <telerik:GridBoundColumn DataField="AreaType" HeaderText="AreaType" SortExpression="AreaType" UniqueName="AreaType"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourcePriorityId" runat="server" TypeName="StaticInfoPriority"
    SelectMethod="ParameterPriority">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceInboundDocumentType" runat="server" TypeName="StaticInfoInboundDocumentType"
    DeleteMethod="DeleteInboundDocumentType"
    InsertMethod="InsertInboundDocumentType"
    SelectMethod="SearchInboundDocumentType"
    UpdateMethod="UpdateInboundDocumentType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InboundDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxInboundDocumentTypeCode" DefaultValue="%" Name="InboundDocumentTypeCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxInboundDocumentType" DefaultValue="%" Name="InboundDocumentType" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="DropDownListPriorityId" DefaultValue="-1" Name="PriorityId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InboundDocumentTypeId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InboundDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InboundDocumentTypeCode" Type="String" />
        <asp:Parameter Name="InboundDocumentType" Type="String" />
        <asp:Parameter Name="OverReceiveIndicator" Type="Boolean" />
        <asp:Parameter Name="AllowManualCreate" Type="Boolean" />
        <asp:Parameter Name="QuantityToFollowIndicator" Type="Boolean" />
        <asp:Parameter Name="PriorityId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="AutoSendup" Type="Boolean" />
        <asp:Parameter Name="BatchButton" Type="Boolean" />
        <asp:Parameter Name="BatchSelect" Type="Boolean" />
        <asp:Parameter Name="DeliveryNoteNumber" Type="Boolean" />
        <asp:Parameter Name="VehicleRegistration" Type="Boolean" />
        <asp:Parameter Name="AreaType" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="InboundDocumentTypeId" Type="Int32" />
        <asp:Parameter Name="InboundDocumentTypeCode" Type="String" />
        <asp:Parameter Name="InboundDocumentType" Type="String" />
        <asp:Parameter Name="OverReceiveIndicator" Type="Boolean" />
        <asp:Parameter Name="AllowManualCreate" Type="Boolean" />
        <asp:Parameter Name="QuantityToFollowIndicator" Type="Boolean" />
        <asp:Parameter Name="PriorityId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="AutoSendup" Type="Boolean" />
        <asp:Parameter Name="BatchButton" Type="Boolean" />
        <asp:Parameter Name="BatchSelect" Type="Boolean" />
        <asp:Parameter Name="DeliveryNoteNumber" Type="Boolean" />
        <asp:Parameter Name="VehicleRegistration" Type="Boolean" />
        <asp:Parameter Name="AreaType" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
