<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InterfaceFieldGridView.ascx.cs" Inherits="UserControls_InterfaceFieldGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxInterfaceFieldCode" runat="server" Label="InterfaceFieldCode" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxInterfaceField" runat="server" Label="InterfaceField" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListInterfaceDocumentTypeId" runat="server" DataSourceID="ObjectDataSourceDDLInterfaceDocumentTypeId"
                DataTextField="InterfaceDocumentType" DataValueField="InterfaceDocumentTypeId" Label="InterfaceDocumentType" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLInterfaceDocumentTypeId" runat="server" TypeName="StaticInfoInterfaceDocumentType"
                SelectMethod="ParameterInterfaceDocumentType">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridInterfaceField" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceInterfaceField" OnSelectedIndexChanged="RadGridInterfaceField_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
InterfaceFieldId
" DataSourceID="ObjectDataSourceInterfaceField" AutoGenerateColumns="false">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="InterfaceFieldId" HeaderText="InterfaceFieldId" SortExpression="InterfaceFieldId" UniqueName="InterfaceFieldId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="InterfaceFieldCode" HeaderText="InterfaceFieldCode" SortExpression="InterfaceFieldCode" UniqueName="InterfaceFieldCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="InterfaceField" HeaderText="InterfaceField" SortExpression="InterfaceField" UniqueName="InterfaceField"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListInterfaceDocumentTypeId" ListTextField="InterfaceDocumentType" ListValueField="InterfaceDocumentTypeId" DataSourceID="ObjectDataSourceInterfaceDocumentTypeId" DataField="InterfaceDocumentTypeId" HeaderText="InterfaceDocumentType">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="Datatype" HeaderText="Datatype" SortExpression="Datatype" UniqueName="Datatype"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceDocumentTypeId" runat="server" TypeName="StaticInfoInterfaceDocumentType"
    SelectMethod="ParameterInterfaceDocumentType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceInterfaceField" runat="server" TypeName="StaticInfoInterfaceField"
    DeleteMethod="DeleteInterfaceField"
    InsertMethod="InsertInterfaceField"
    SelectMethod="SearchInterfaceField"
    UpdateMethod="UpdateInterfaceField">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceFieldId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxInterfaceFieldCode" DefaultValue="%" Name="InterfaceFieldCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxInterfaceField" DefaultValue="%" Name="InterfaceField" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="DropDownListInterfaceDocumentTypeId" DefaultValue="-1" Name="InterfaceDocumentTypeId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceFieldId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="InterfaceFieldId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="InterfaceFieldCode" Type="String" />
        <asp:Parameter Name="InterfaceField" Type="String" />
        <asp:Parameter Name="InterfaceDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Datatype" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="InterfaceFieldId" Type="Int32" />
        <asp:Parameter Name="InterfaceFieldCode" Type="String" />
        <asp:Parameter Name="InterfaceField" Type="String" />
        <asp:Parameter Name="InterfaceDocumentTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Datatype" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
