<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MenuItemCultureGridView.ascx.cs" Inherits="UserControls_MenuItemCultureGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListMenuItemId" runat="server" DataSourceID="ObjectDataSourceDDLMenuItemId"
                DataTextField="MenuItem" DataValueField="MenuItemId" Label="MenuItem" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLMenuItemId" runat="server" TypeName="StaticInfoMenuItem"
                SelectMethod="ParameterMenuItem">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListCultureId" runat="server" DataSourceID="ObjectDataSourceDDLCultureId"
                DataTextField="Culture" DataValueField="CultureId" Label="Culture" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLCultureId" runat="server" TypeName="StaticInfoCulture"
                SelectMethod="ParameterCulture">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridMenuItemCulture" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceMenuItemCulture" OnSelectedIndexChanged="RadGridMenuItemCulture_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
MenuItemCultureId
" DataSourceID="ObjectDataSourceMenuItemCulture"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="MenuItemCultureId" HeaderText="MenuItemCultureId" SortExpression="MenuItemCultureId" UniqueName="MenuItemCultureId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListMenuItemId" ListTextField="MenuItem" ListValueField="MenuItemId" DataSourceID="ObjectDataSourceMenuItemId" DataField="MenuItemId" HeaderText="MenuItem">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListCultureId" ListTextField="Culture" ListValueField="CultureId" DataSourceID="ObjectDataSourceCultureId" DataField="CultureId" HeaderText="Culture">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="MenuItem" HeaderText="MenuItem" SortExpression="MenuItem" UniqueName="MenuItem"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="ToolTip" HeaderText="ToolTip" SortExpression="ToolTip" UniqueName="ToolTip"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceMenuItemId" runat="server" TypeName="StaticInfoMenuItem"
    SelectMethod="ParameterMenuItem">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceCultureId" runat="server" TypeName="StaticInfoCulture"
    SelectMethod="ParameterCulture">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceMenuItemCulture" runat="server" TypeName="StaticInfoMenuItemCulture"
    DeleteMethod="DeleteMenuItemCulture"
    InsertMethod="InsertMenuItemCulture"
    SelectMethod="SearchMenuItemCulture"
    UpdateMethod="UpdateMenuItemCulture">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="MenuItemCultureId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="DropDownListMenuItemId" DefaultValue="-1" Name="MenuItemId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListCultureId" DefaultValue="-1" Name="CultureId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="MenuItemCultureId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="MenuItemCultureId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MenuItemId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="CultureId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MenuItem" Type="String" />
        <asp:Parameter Name="ToolTip" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="MenuItemCultureId" Type="Int32" />
        <asp:Parameter Name="MenuItemId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="CultureId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MenuItem" Type="String" />
        <asp:Parameter Name="ToolTip" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
