<%@ Control Language="C#" AutoEventWireup="true" CodeFile="NotificationMethodGridView.ascx.cs" Inherits="UserControls_NotificationMethodGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridNotificationMethod">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridNotificationMethod" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridNotificationMethod" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxNotificationMethodCode" runat="server" Label="NotificationMethodCode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxNotificationMethod" runat="server" Label="NotificationMethod" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridNotificationMethod" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceNotificationMethod">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
NotificationMethodId
" DataSourceID="ObjectDataSourceNotificationMethod"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="NotificationMethodId" HeaderText="NotificationMethodId" SortExpression="NotificationMethodId" UniqueName="NotificationMethodId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="NotificationMethodCode" HeaderText="NotificationMethodCode" SortExpression="NotificationMethodCode" UniqueName="NotificationMethodCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="NotificationMethod" HeaderText="NotificationMethod" SortExpression="NotificationMethod" UniqueName="NotificationMethod"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
 
<asp:ObjectDataSource ID="ObjectDataSourceNotificationMethod" runat="server" TypeName="StaticInfoNotificationMethod"
    DeleteMethod="DeleteNotificationMethod"
    InsertMethod="InsertNotificationMethod"
    SelectMethod="SearchNotificationMethod"
    UpdateMethod="UpdateNotificationMethod">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="NotificationMethodId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxNotificationMethodCode" DefaultValue="%" Name="NotificationMethodCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxNotificationMethod" DefaultValue="%" Name="NotificationMethod" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="NotificationMethodId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="NotificationMethodId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="NotificationMethodCode" Type="String" />
        <asp:Parameter Name="NotificationMethod" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="NotificationMethodId" Type="Int32" />
        <asp:Parameter Name="NotificationMethodCode" Type="String" />
        <asp:Parameter Name="NotificationMethod" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
