<%@ Control Language="C#" AutoEventWireup="true" CodeFile="OperatorGridView.ascx.cs" Inherits="UserControls_OperatorGridView" %>
 
<table style="background-color:lightgray; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListOperatorGroupId" runat="server" DataSourceID="ObjectDataSourceDDLOperatorGroupId"
                DataTextField="OperatorGroup" DataValueField="OperatorGroupId" Label="OperatorGroup" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLOperatorGroupId" runat="server" TypeName="StaticInfoOperatorGroup"
                SelectMethod="ParameterOperatorGroup">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
 
        <td>
            <telerik:RadTextBox ID="TextBoxOperator" runat="server" Label="Operator" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxOperatorCode" runat="server" Label="OperatorCode" Width="300px" Skin="Metro"></telerik:RadTextBox>
        </td>
    </tr>
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListCultureId" runat="server" DataSourceID="ObjectDataSourceDDLCultureId"
                DataTextField="Culture" DataValueField="CultureId" Label="Culture" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLCultureId" runat="server" TypeName="StaticInfoCulture"
                SelectMethod="ParameterCulture">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListPrincipalId" runat="server" DataSourceID="ObjectDataSourceDDLPrincipalId"
                DataTextField="Principal" DataValueField="PrincipalId" Label="Principal" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLPrincipalId" runat="server" TypeName="StaticInfoPrincipal"
                SelectMethod="ParameterPrincipal">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadComboBox ID="DropDownListExternalCompanyId" runat="server" DataSourceID="ObjectDataSourceDDLExternalCompanyId"
                DataTextField="ExternalCompany" DataValueField="ExternalCompanyId" Label="ExternalCompany" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLExternalCompanyId" runat="server" TypeName="StaticInfoExternalCompany"
                SelectMethod="ParameterExternalCompany">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
    </tr>
    <tr>
        <td>
            <telerik:RadComboBox ID="DropDownListMenuId" runat="server" DataSourceID="ObjectDataSourceDDLMenuId"
                DataTextField="Menu" DataValueField="MenuId" Label="Menu" Width="250px" Skin="Metro">
            </telerik:RadComboBox>
            <asp:ObjectDataSource ID="ObjectDataSourceDDLMenuId" runat="server" TypeName="StaticInfoMenu"
                SelectMethod="ParameterMenu">
                <SelectParameters>
                    <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
                </SelectParameters>
            </asp:ObjectDataSource>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridOperator" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceOperator" OnSelectedIndexChanged="RadGridOperator_SelectedIndexChanged" Skin="Metro">
<PagerStyle Mode="NumericPages"></PagerStyle>
<MasterTableView DataKeyNames="
OperatorId
" DataSourceID="ObjectDataSourceOperator"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="OperatorId" HeaderText="OperatorId" SortExpression="OperatorId" UniqueName="OperatorId"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListOperatorGroupId" ListTextField="OperatorGroup" ListValueField="OperatorGroupId" DataSourceID="ObjectDataSourceOperatorGroupId" DataField="OperatorGroupId" HeaderText="OperatorGroup">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListWarehouseId" ListTextField="Warehouse" ListValueField="WarehouseId" DataSourceID="ObjectDataSourceWarehouseId" DataField="WarehouseId" HeaderText="Warehouse">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="Operator" HeaderText="Operator" SortExpression="Operator" UniqueName="Operator"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="OperatorCode" HeaderText="OperatorCode" SortExpression="OperatorCode" UniqueName="OperatorCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Password" HeaderText="Password" SortExpression="Password" UniqueName="Password"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="NewPassword" HeaderText="NewPassword" SortExpression="NewPassword" UniqueName="NewPassword"></telerik:GridBoundColumn>
                        <telerik:GridCheckBoxColumn DataField="ActiveIndicator" HeaderText="ActiveIndicator" SortExpression="ActiveIndicator" UniqueName="ActiveIndicator"></telerik:GridCheckBoxColumn>
                        <telerik:GridDateTimeColumn DataField="ExpiryDate" HeaderText="ExpiryDate"></telerik:GridDateTimeColumn>
                        <telerik:GridDateTimeColumn DataField="LastInstruction" HeaderText="LastInstruction"></telerik:GridDateTimeColumn>
            <telerik:GridBoundColumn DataField="Printer" HeaderText="Printer" SortExpression="Printer" UniqueName="Printer"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Port" HeaderText="Port" SortExpression="Port" UniqueName="Port"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="IPAddress" HeaderText="IPAddress" SortExpression="IPAddress" UniqueName="IPAddress"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListCultureId" ListTextField="Culture" ListValueField="CultureId" DataSourceID="ObjectDataSourceCultureId" DataField="CultureId" HeaderText="Culture">
            </telerik:GridDropDownColumn>
                        <telerik:GridDateTimeColumn DataField="LoginTime" HeaderText="LoginTime"></telerik:GridDateTimeColumn>
                        <telerik:GridDateTimeColumn DataField="LogoutTime" HeaderText="LogoutTime"></telerik:GridDateTimeColumn>
                        <telerik:GridDateTimeColumn DataField="LastActivity" HeaderText="LastActivity"></telerik:GridDateTimeColumn>
            <telerik:GridBoundColumn DataField="SiteType" HeaderText="SiteType" SortExpression="SiteType" UniqueName="SiteType"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Name" HeaderText="Name" SortExpression="Name" UniqueName="Name"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="Surname" HeaderText="Surname" SortExpression="Surname" UniqueName="Surname"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListPrincipalId" ListTextField="Principal" ListValueField="PrincipalId" DataSourceID="ObjectDataSourcePrincipalId" DataField="PrincipalId" HeaderText="Principal">
            </telerik:GridDropDownColumn>
            <telerik:GridBoundColumn DataField="PickAisle" HeaderText="PickAisle" SortExpression="PickAisle" UniqueName="PickAisle"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="StoreAisle" HeaderText="StoreAisle" SortExpression="StoreAisle" UniqueName="StoreAisle"></telerik:GridBoundColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListExternalCompanyId" ListTextField="ExternalCompany" ListValueField="ExternalCompanyId" DataSourceID="ObjectDataSourceExternalCompanyId" DataField="ExternalCompanyId" HeaderText="ExternalCompany">
            </telerik:GridDropDownColumn>
            <telerik:GridDropDownColumn UniqueName="DropDownListMenuId" ListTextField="Menu" ListValueField="MenuId" DataSourceID="ObjectDataSourceMenuId" DataField="MenuId" HeaderText="Menu">
            </telerik:GridDropDownColumn>
                        <telerik:GridCheckBoxColumn DataField="Upload" HeaderText="Upload" SortExpression="Upload" UniqueName="Upload"></telerik:GridCheckBoxColumn>
        </Columns>
    </MasterTableView>
    <ClientSettings AllowDragToGroup="True" AllowColumnsReorder="True" EnablePostBackOnRowClick="True">
        <Resizing AllowColumnResize="true"></Resizing>
        <Selecting AllowRowSelect="true" />
       </ClientSettings>
    <GroupingSettings ShowUnGroupButton="True" />
</telerik:RadGrid>
<asp:ObjectDataSource ID="ObjectDataSourceOperatorGroupId" runat="server" TypeName="StaticInfoOperatorGroup"
    SelectMethod="ParameterOperatorGroup">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceWarehouseId" runat="server" TypeName="StaticInfoWarehouse"
    SelectMethod="ParameterWarehouse">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceCultureId" runat="server" TypeName="StaticInfoCulture"
    SelectMethod="ParameterCulture">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourcePrincipalId" runat="server" TypeName="StaticInfoPrincipal"
    SelectMethod="ParameterPrincipal">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceExternalCompanyId" runat="server" TypeName="StaticInfoExternalCompany"
    SelectMethod="ParameterExternalCompany">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
<asp:ObjectDataSource ID="ObjectDataSourceMenuId" runat="server" TypeName="StaticInfoMenu"
    SelectMethod="ParameterMenu">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
    </SelectParameters>
</asp:ObjectDataSource>
 
<asp:ObjectDataSource ID="ObjectDataSourceOperator" runat="server" TypeName="StaticInfoOperator"
    DeleteMethod="DeleteOperator"
    InsertMethod="InsertOperator"
    SelectMethod="SearchOperator"
    UpdateMethod="UpdateOperator">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="OperatorId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="DropDownListOperatorGroupId" DefaultValue="-1" Name="OperatorGroupId" PropertyName="SelectedValue" Type="Int32" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:ControlParameter ControlID="TextBoxOperator" DefaultValue="%" Name="Operator" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxOperatorCode" DefaultValue="%" Name="OperatorCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="DropDownListCultureId" DefaultValue="-1" Name="CultureId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListPrincipalId" DefaultValue="-1" Name="PrincipalId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListExternalCompanyId" DefaultValue="-1" Name="ExternalCompanyId" PropertyName="SelectedValue" Type="Int32" />
        <asp:ControlParameter ControlID="DropDownListMenuId" DefaultValue="-1" Name="MenuId" PropertyName="SelectedValue" Type="Int32" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="OperatorId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="OperatorId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="OperatorGroupId" Type="Int32" DefaultValue="-1" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:Parameter Name="Operator" Type="String" />
        <asp:Parameter Name="OperatorCode" Type="String" />
        <asp:Parameter Name="Password" Type="String" />
        <asp:Parameter Name="NewPassword" Type="String" />
        <asp:Parameter Name="ActiveIndicator" Type="Boolean" />
        <asp:Parameter Name="ExpiryDate" Type="DateTime" />
        <asp:Parameter Name="LastInstruction" Type="DateTime" />
        <asp:Parameter Name="Printer" Type="String" />
        <asp:Parameter Name="Port" Type="String" />
        <asp:Parameter Name="IPAddress" Type="String" />
        <asp:Parameter Name="CultureId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="LoginTime" Type="DateTime" />
        <asp:Parameter Name="LogoutTime" Type="DateTime" />
        <asp:Parameter Name="LastActivity" Type="DateTime" />
        <asp:Parameter Name="SiteType" Type="String" />
        <asp:Parameter Name="Name" Type="String" />
        <asp:Parameter Name="Surname" Type="String" />
        <asp:Parameter Name="PrincipalId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="PickAisle" Type="String" />
        <asp:Parameter Name="StoreAisle" Type="String" />
        <asp:Parameter Name="ExternalCompanyId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MenuId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Upload" Type="Boolean" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="OperatorId" Type="Int32" />
        <asp:Parameter Name="OperatorGroupId" Type="Int32" DefaultValue="-1" />
        <asp:SessionParameter DefaultValue="0" Name="WarehouseId" SessionField="WarehouseId" Type="Int32" />
        <asp:Parameter Name="Operator" Type="String" />
        <asp:Parameter Name="OperatorCode" Type="String" />
        <asp:Parameter Name="Password" Type="String" />
        <asp:Parameter Name="NewPassword" Type="String" />
        <asp:Parameter Name="ActiveIndicator" Type="Boolean" />
        <asp:Parameter Name="ExpiryDate" Type="DateTime" />
        <asp:Parameter Name="LastInstruction" Type="DateTime" />
        <asp:Parameter Name="Printer" Type="String" />
        <asp:Parameter Name="Port" Type="String" />
        <asp:Parameter Name="IPAddress" Type="String" />
        <asp:Parameter Name="CultureId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="LoginTime" Type="DateTime" />
        <asp:Parameter Name="LogoutTime" Type="DateTime" />
        <asp:Parameter Name="LastActivity" Type="DateTime" />
        <asp:Parameter Name="SiteType" Type="String" />
        <asp:Parameter Name="Name" Type="String" />
        <asp:Parameter Name="Surname" Type="String" />
        <asp:Parameter Name="PrincipalId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="PickAisle" Type="String" />
        <asp:Parameter Name="StoreAisle" Type="String" />
        <asp:Parameter Name="ExternalCompanyId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="MenuId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="Upload" Type="Boolean" />
    </InsertParameters>
</asp:ObjectDataSource>
