<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SavedFileTypeGridView.ascx.cs" Inherits="UserControls_SavedFileTypeGridView" %>
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridSavedFileType">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridSavedFileType" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridSavedFileType" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
<table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
    <tr>
        <td>
            <telerik:RadTextBox ID="TextBoxSavedFileTypeCode" runat="server" Label="SavedFileTypeCode" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadTextBox ID="TextBoxSavedFileType" runat="server" Label="SavedFileType" Width="300px"></telerik:RadTextBox>
        </td>
        <td>
            <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
        </td>
    </tr>
</table>
 
<telerik:RadGrid ID="RadGridSavedFileType" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
    AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceSavedFileType">
<PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
<MasterTableView DataKeyNames="
SavedFileTypeId
" DataSourceID="ObjectDataSourceSavedFileType"
    CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
    InsertItemPageIndexAction="ShowItemOnFirstPage">
        <Columns>
            <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
            <telerik:GridBoundColumn ReadOnly="True" DataField="SavedFileTypeId" HeaderText="SavedFileTypeId" SortExpression="SavedFileTypeId" UniqueName="SavedFileTypeId"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SavedFileTypeCode" HeaderText="SavedFileTypeCode" SortExpression="SavedFileTypeCode" UniqueName="SavedFileTypeCode"></telerik:GridBoundColumn>
            <telerik:GridBoundColumn DataField="SavedFileType" HeaderText="SavedFileType" SortExpression="SavedFileType" UniqueName="SavedFileType"></telerik:GridBoundColumn>
        </Columns>
    </MasterTableView>
</telerik:RadGrid>
 
<asp:ObjectDataSource ID="ObjectDataSourceSavedFileType" runat="server" TypeName="StaticInfoSavedFileType"
    DeleteMethod="DeleteSavedFileType"
    InsertMethod="InsertSavedFileType"
    SelectMethod="SearchSavedFileType"
    UpdateMethod="UpdateSavedFileType">
    <SelectParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="SavedFileTypeId" Type="Int32" DefaultValue="-1" />
        <asp:ControlParameter ControlID="TextBoxSavedFileTypeCode" DefaultValue="%" Name="SavedFileTypeCode" PropertyName="Text" Type="String" />
        <asp:ControlParameter ControlID="TextBoxSavedFileType" DefaultValue="%" Name="SavedFileType" PropertyName="Text" Type="String" />
    </SelectParameters>
    <DeleteParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="SavedFileTypeId" Type="Int32" />
    </DeleteParameters>
    <UpdateParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Name="SavedFileTypeId" Type="Int32" DefaultValue="-1" />
        <asp:Parameter Name="SavedFileTypeCode" Type="String" />
        <asp:Parameter Name="SavedFileType" Type="String" />
    </UpdateParameters>
    <InsertParameters>
        <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        <asp:Parameter Direction="InputOutput" Name="SavedFileTypeId" Type="Int32" />
        <asp:Parameter Name="SavedFileTypeCode" Type="String" />
        <asp:Parameter Name="SavedFileType" Type="String" />
    </InsertParameters>
</asp:ObjectDataSource>
