﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="IntergrationFileExplorer.ascx.cs" Inherits="StaticInfo_IntergrationDelimiter" %>
 
<div>
    <telerik:RadFileExplorer ID="RadFileExplorer1" runat="server" EnableCreateNewFolder="true"
        EnableCopy="true" EnableOpenFile="true" Skin="Metro" VisibleControls="TreeView,Toolbar,ListView,Grid,ContextMenus" TreePaneWidth="350px" Width="1000px" EnableAsyncUpload="false">
    </telerik:RadFileExplorer>
    <asp:Label ID="lblLabel" runat="server"></asp:Label>
</div>