<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SerialNumber.aspx.cs" Inherits="Administration_SerialNumberGridView" Title="SerialNumber" MasterPageFile="~/MasterPages/MasterPage.master" Theme="Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHeading" Runat="Server">
    <asp:Label ID="Label1" runat="server" SkinID="AgendaTitle" Text="Static Maintenance"></asp:Label>
    <br />
    <asp:Label ID="Label2" runat="server" SkinID="PageTitle" Text="SerialNumber Administration"></asp:Label>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
    <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
        <AjaxSettings>
            <telerik:AjaxSetting AjaxControlID="RadGridSerialNumber">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridSerialNumber" />
                </UpdatedControls>
            </telerik:AjaxSetting>
            <telerik:AjaxSetting AjaxControlID="ButtonSearch">
                <UpdatedControls>
                    <telerik:AjaxUpdatedControl ControlID="RadGridSerialNumber" />
                </UpdatedControls>
            </telerik:AjaxSetting>
        </AjaxSettings>
    </telerik:RadAjaxManager>
 
    <table style="background-color: #F8F7F4; border-right: #e7e5db 2pt double; border-top: #e7e5db 2pt double; border-left: #e7e5db 2pt double; border-bottom: #e7e5db 2pt double;">
        <tr>
            <td>
                <telerik:RadTextBox ID="TextBoxProductCode" runat="server" Label="Product Code" Width="300px"></telerik:RadTextBox>
            </td>
            <td>
                <telerik:RadTextBox ID="TextBoxProduct" runat="server" Label="Description" Width="300px"></telerik:RadTextBox>
            </td>
            <td>
                <telerik:RadTextBox ID="TextBoxBatch" runat="server" Label="Batch" Width="300px"></telerik:RadTextBox>
            </td>
        </tr>
        <tr>
            <td>
                <telerik:RadTextBox ID="TextBoxSKUCode" runat="server" Label="SKU Code" Width="300px"></telerik:RadTextBox>
            </td>
            <td>
                <telerik:RadTextBox ID="TextBoxSKU" runat="server" Label="SKU" Width="300px"></telerik:RadTextBox>
            </td>
            <td>
                <telerik:RadTextBox ID="TextBoxLocation" runat="server" Label="Location" Width="300px"></telerik:RadTextBox>
            </td>
        </tr>
        <tr>
            <td>
                <telerik:RadTextBox ID="TextBoxSerialNumber" runat="server" Label="SerialNumber" Width="300px"></telerik:RadTextBox>
            </td>
            <td></td>
            <td>
                <telerik:RadButton ID="ButtonSearch" runat="server" Text="Search" OnClick="ButtonSearch_Click"></telerik:RadButton>
            </td>
        </tr>
    </table>
 
    <telerik:RadGrid ID="RadGridSerialNumber" runat="server" AllowAutomaticInserts="true" AllowAutomaticUpdates="true" AllowAutomaticDeletes="true" AutoGenerateDeleteColumn="true"
        AutoGenerateColumns="False" AllowSorting="True" AllowPaging="True" PageSize="30" DataSourceID="ObjectDataSourceSerialNumber">
    <PagerStyle Mode="NextPrevNumericAndAdvanced" EnableSEOPaging="True"></PagerStyle>
    <MasterTableView DataKeyNames="
    SerialNumberId
    " DataSourceID="ObjectDataSourceSerialNumber"
        CommandItemDisplay="Top" AutoGenerateColumns="false" InsertItemDisplay="Top"
        InsertItemPageIndexAction="ShowItemOnFirstPage">
            <Columns>
                <telerik:GridEditCommandColumn ButtonType="ImageButton"></telerik:GridEditCommandColumn>
                <telerik:GridBoundColumn ReadOnly="True" DataField="SerialNumberId" HeaderText="SerialNumberId" SortExpression="SerialNumberId" UniqueName="SerialNumberId"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn DataField="SerialNumber" HeaderText="SerialNumber" SortExpression="SerialNumber" UniqueName="SerialNumber"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="ProductCode" HeaderText="ProductCode" SortExpression="ProductCode" UniqueName="ProductCode"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="Product" HeaderText="Product" SortExpression="Product" UniqueName="Product"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="SKUCode" HeaderText="SKUCode" SortExpression="SKUCode" UniqueName="SKUCode"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="SKU" HeaderText="SKU" SortExpression="SKU" UniqueName="SKU"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="Batch" HeaderText="Batch" SortExpression="Batch" UniqueName="Batch"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="Location" HeaderText="Location" SortExpression="Location" UniqueName="Location"></telerik:GridBoundColumn>
                <telerik:GridDateTimeColumn DataField="ReceivedDate" HeaderText="ReceivedDate"></telerik:GridDateTimeColumn>
                <telerik:GridDateTimeColumn DataField="DespatchDate" HeaderText="DespatchDate"></telerik:GridDateTimeColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="PurchaseOrderNumber" HeaderText="PurchaseOrderNumber" SortExpression="PurchaseOrderNumber" UniqueName="PurchaseOrderNumber"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn ReadOnly="true" DataField="SalesOrderNumber" HeaderText="SalesOrderNumber" SortExpression="SalesOrderNumber" UniqueName="SalesOrderNumber"></telerik:GridBoundColumn>
                <telerik:GridBoundColumn DataField="Remarks" HeaderText="Remarks" SortExpression="Remarks" UniqueName="Remarks"></telerik:GridBoundColumn>
            </Columns>
        </MasterTableView>
    </telerik:RadGrid>
    <asp:ObjectDataSource ID="ObjectDataSourceLocationId" runat="server" TypeName="StaticInfoLocation"
        SelectMethod="ParameterLocation">
        <SelectParameters>
            <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
        </SelectParameters>
    </asp:ObjectDataSource>
    <asp:ObjectDataSource ID="ObjectDataSourceSerialNumber" runat="server" TypeName="SerialNumber"
        DeleteMethod="DeleteSerialNumber"
        InsertMethod="InsertSerialNumber"
        SelectMethod="SearchSerialNumber"
        UpdateMethod="UpdateSerialNumber">
        <SelectParameters>
            <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
            <asp:ControlParameter Name="SerialNumber" Type="String" ControlID="TextBoxSerialNumber" />
            <asp:ControlParameter Name="ProductCode" Type="String" ControlID="TextBoxProductCode" />
            <asp:ControlParameter Name="Product" Type="String" ControlID="TextBoxProduct" />
            <asp:ControlParameter Name="SKUCode" Type="String" ControlID="TextBoxSKUCode" />
            <asp:ControlParameter Name="SKU" Type="String" ControlID="TextBoxSKU" />
            <asp:ControlParameter Name="Batch" Type="String" ControlID="TextBoxBatch" />
            <asp:ControlParameter Name="Location" Type="String" ControlID="TextBoxLocation" />
        </SelectParameters>
        <DeleteParameters>
            <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
            <asp:Parameter Name="SerialNumberId" Type="Int32" />
        </DeleteParameters>
        <UpdateParameters>
            <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
            <asp:Parameter Name="SerialNumberId" Type="Int32" DefaultValue="-1" />
            <asp:Parameter Name="SerialNumber" Type="String" />
            <asp:Parameter Name="ReceivedDate" Type="DateTime" DefaultValue="1900/01/01" />
            <asp:Parameter Name="DespatchDate" Type="DateTime" DefaultValue="1900/01/01" />
            <asp:Parameter Name="Remarks" Type="String" />
        </UpdateParameters>
        <InsertParameters>
            <asp:SessionParameter Name="ConnectionStringName" SessionField="ConnectionStringName" Type="String" />
            <asp:Parameter Name="SerialNumberId" Type="Int32" DefaultValue="-1" />
            <asp:Parameter Name="SerialNumber" Type="String" />
            <asp:Parameter Name="ReceivedDate" Type="DateTime" DefaultValue="1900/01/01" />
            <asp:Parameter Name="DespatchDate" Type="DateTime" DefaultValue="1900/01/01" />
            <asp:Parameter Name="Remarks" Type="String" />
        </InsertParameters>
    </asp:ObjectDataSource>
</asp:Content>
