<%@ Page
    Language="C#"
    AutoEventWireup="true"
    CodeFile="CreditAdviceReport.aspx.cs"
    Inherits="Inbound_CreditAdviceReport" %>

<%--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">--%>
<%@ Register
    Assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"
    Namespace="Microsoft.Reporting.WebForms"
    TagPrefix="rsweb" %>
<%@ MasterType VirtualPath="~/MasterPages/MasterPage.master" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body style="vertical-align: bottom; height: 100%; margin-right: 0px; 
    margin-top: 0px; margin-bottom: 0px; margin-left: 0px; 
    padding-bottom: 0px; padding-top: 0px">
    <form id="form1" runat="server">
    <div>
        <table style="vertical-align: bottom; border-width: 0px; margin-top: 0px; 
           margin-bottom: 0px; width: 100%; height: 100%; padding: 0px,0px,0px,0px;" 
           cellspacing="0" cellpadding="0">
<%--            <tr>
                <td>
                    HEADER
                </td>
            </tr>--%>
<%--            <tr>
                <td>
                    <div style="border-top: black 1px solid; 
                        background-color: #ece9d8; border-bottom-width: 1px; 
                        border-bottom-color: #d4d0c8; padding-bottom: 10px;">
                        Preview options
                    </div>
               </td>
            </tr>--%>
            <tr>
                <td style="height: 100%;">
<%--                    <rsweb:ReportViewer ID="ReportViewer1" runat="server" Height="100%" Width="100%"
                        ProcessingMode="Remote" ShowParameterPrompts="false">
                        <ServerReport ReportServerUrl="http://cqserver0001/ReportServer" ReportPath="/CQuentialWarehouseReports/Credit Advice" />
                    </rsweb:ReportViewer>
--%>                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
