/**
 * Menu Metro Skin
 */
/*----------------------------------------------------------------------------*/
/** Global wrapper */
.RadMenu_Metro {
  color: #767676;
  font: normal 12px/23px "Segoe UI", Arial, sans-serif; }

/** Menu Group */
.RadMenu_Metro .rmGroup {
  padding: 0 2px; }

/** Menu Root Group */
.RadMenu_Metro .rmRootGroup,
.RadMenu_Metro ul.rmRootScrollGroup {
  padding: 1px;
  background-color: #25a0da; }

/** Menu Sub Group */
.RadMenu_Metro .rmGroup,
.RadMenu_Metro .rmMultiColumn,
.RadMenu_Metro .rmGroup .rmVertical {
  border: 1px solid #e5e5e5;
  background-color: #ffffff; }

.RadMenu_Metro .rmScrollWrap > .rmVertical {
  border: 0; }

/** Menu Horizontal */
/** Menu Horizontal */
/** Menu Group */
.RadMenu_Metro .rmScrollWrap {
  padding: 1px; }

.RadMenu_Metro .rmLevel1.rmScrollWrap {
  margin-top: 2px; }

/** Menu Item */
/** Sub Item  */
/** Menu Link */
.RadMenu_Metro .rmLink {
  text-decoration: none; }

/** Menu Root Link */
.RadMenu_Metro .rmRootLink {
  padding: 0 10px;
  border: 1px solid #25a0da;
  color: #ffffff;
  font-size: 14px;}

.RadMenu_Metro .rmRootLink:hover {
  border-color: #92cfec; }

.RadMenu_Metro .rmFocused,
.RadMenu_Metro .rmFocused:hover,
.RadMenu_Metro .rmSelected,
.RadMenu_Metro .rmSelected:hover {
  border-color: #ffffff; }

.RadMenu_Metro .rmDisabled,
.RadMenu_Metro .rmDisabled:hover {
  border-color: #25a0da;
  color: #8aceec; }

/** Menu Sub Link */
.RadMenu_Metro .rmGroup .rmLink {
  margin: 1px 0;
  border: 0;
  color: #767676; }

.RadMenu_Metro .rmGroup .rmLink:hover {
  color: #000000;
  background-color: #e5e5e5; }

.RadMenu_Metro .rmGroup .rmFocused,
.RadMenu_Metro .rmGroup .rmFocused:hover,
.RadMenu_Metro .rmGroup .rmSelected,
.RadMenu_Metro .rmGroup .rmSelected:hover,
.RadMenu_Metro .rmGroup .rmExpanded,
.RadMenu_Metro .rmGroup .rmExpanded:hover {
  color: #ffffff;
  background-color: #25a0da; }

.RadMenu_Metro .rmGroup .rmDisabled,
.RadMenu_Metro .rmGroup .rmDisabled:hover {
  color: #cccccc;
  background-color: transparent; }

/** Menu Text */
.RadMenu_Metro .rmText {
  padding: 0; }

/** Menu Root Link */
.RadMenu_Metro .rmRootLink .rmText {
  padding: 0; }

.RadMenu_Metro .rmVertical .rmRootLink .rmExpandRight,
.RadMenu_Metro .rmVertical .rmRootLink .rmExpandLeft {
  background-image: none; }

.RadMenu_Metro .rmGroup .rmText {
  padding-right: 53px; }

.RadMenu_Metro .rmGroup .rmHorizontal .rmText {
  padding-right: 10px; }

/***/
.RadMenu_Metro .rmVertical .rmText {
  padding-right: 30px; }

/** RTL */
.RadMenu_Metro_rtl .rmVertical .rmText {
  padding-left: 30px; }

/** Menu Image */
.RadMenu_Metro .rmLeftImage,
.RadMenu_Metro .rmLeftImage {
  margin: 2px 2px 0 0;
  padding-bottom: 3px; }

.RadMenu_Metro .rmGroup .rmLeftImage {
  margin: 2px 0 0 6px;
  *margin: 2px 0 0 3px; }

/*----------------------------------------------------------------------------*/
.RadMenu_Metro .rmVertical .rmExpandRight,
.RadMenu_Metro .rmVertical .rmExpandLeft,
.RadMenu_Metro .rmGroup .rmExpandRight,
.RadMenu_Metro .rmGroup .rmExpandLeft,
.RadMenu_Metro .rmTopArrow,
.RadMenu_Metro .rmBottomArrow,
.RadMenu_Metro .rmLeftArrow,
.RadMenu_Metro .rmRightArrow {
  background: transparent url('Menu/rmExpandArrows.png') no-repeat; }

.RadMenu_Metro .rmLeftArrow,
.RadMenu_Metro .rmRightArrow {
  height: 25px; }

.RadMenu_Metro .rmVertical .rmExpandRight,
.RadMenu_Metro .rmGroup .rmExpandRight {
  background-position: 100% 0; }

.RadMenu_Metro a.rmFocused .rmExpandRight,
.RadMenu_Metro a.rmSelected .rmExpandRight,
.RadMenu_Metro a.rmExpanded .rmExpandRight {
  background-position: 100% -24px; }

.RadMenu_Metro .rmVertical .rmExpandLeft,
.RadMenu_Metro .rmGroup .rmExpandLeft {
  background-position: 0 -48px; }

.RadMenu_Metro a.rmFocused .rmExpandLeft,
.RadMenu_Metro a.rmSelected .rmExpandLeft,
.RadMenu_Metro a.rmExpanded .rmExpandLeft {
  background-position: 0 -72px; }

.RadMenu_Metro .rmTopArrow,
.RadMenu_Metro .rmBottomArrow,
.RadMenu_Metro .rmLeftArrow,
.RadMenu_Metro .rmRightArrow {
  background-color: #ffffff; }

.RadMenu_Metro .rmTopArrow:hover,
.RadMenu_Metro .rmBottomArrow:hover,
.RadMenu_Metro .rmLeftArrow:hover,
.RadMenu_Metro .rmRightArrow:hover {
  background-color: #e5e5e5; }

.RadMenu_Metro .rmTopArrow {
  border-bottom: 1px solid #e5e5e5;
  background-position: 50% -95px; }

.RadMenu_Metro .rmBottomArrow {
  border-top: 1px solid #e5e5e5;
  background-position: 50% -109px; }

.RadMenu_Metro .rmLeftArrow {
  border-right: 1px solid #e5e5e5;
  background-position: 50% -48px; }

.RadMenu_Metro .rmRightArrow {
  border-left: 1px solid #e5e5e5;
  background-position: 50% 1px; }

.RadMenu_Metro .rmVertical li.rmSeparator,
.RadMenu_Metro .rmHorizontal .rmVertical li.rmSeparator {
  border-left: 0;
  border-right: 0; }

.RadMenu_Metro .rmVertical li.rmSeparator .rmText,
.RadMenu_Metro .rmHorizontal .rmVertical li.rmSeparator .rmText {
  margin-top: 2px;
  padding-bottom: 1px;
  background-color: #e5e5e5; }

.RadMenu_Metro .rmHorizontal li.rmSeparator .rmText,
.RadMenu_Metro .rmVertical .rmHorizontal li.rmSeparator .rmText {
  margin-right: 1px;
  margin-left: 1px;
  padding: 0;
  width: 1px;
  background-color: #e5e5e5; }

/* <rtl> */
.RadMenu_Metro_rtl .rmGroup,
.RadMenu_Metro_rtl .rmGroup .rmVertical {
  background-position: 101% 0; }

.RadMenu_Metro_rtl .rmGroup .rmItem a.rmLink .rmText {
  padding-left: 53px;
  padding-right: 27px; }

.RadMenu_Metro_rtl .rmGroup .rmHorizontal a.rmLink .rmText {
  padding-left: 10px;
  padding-right: 9px; }

/* </rtl> */
/* </RadMenu / Simple> */
.RadMenu_Metro ul.rmLevel1.rmVertical {
  margin-top: 2px; }

/*----------------------------------------------------------------------------*/
/** Hide */
.RadMenu_Metro .rmTopFix,
.RadMenu_Metro .rmTopLeft,
.RadMenu_Metro .rmTopRight,
.RadMenu_Metro .rmBottomFix,
.RadMenu_Metro .rmBottomLeft,
.RadMenu_Metro .rmBottomRight {
  display: none; }

