<%@ Application Language="C#" %>

<script runat="server">
    PrintService.NPSService NicePrintService;
    void Application_Start(object sender, EventArgs e) 
    {
        // Code that runs on application startup
        
        // Create a new instance of NPSService on application startup
        NicePrintService = new PrintService.NPSService();
        
        // Set number of PrintEngines to 10
        NicePrintService.SetPrintEngineCount(10);
    }
    
    void Application_End(object sender, EventArgs e) 
    {
        //  Code that runs on application shutdown
        // Clean up all instances of NiceEngine on application shutdown
        NicePrintService.CleanUpPrintEngine();
    }
        
    void Application_Error(object sender, EventArgs e) 
    { 
        // Code that runs when an unhandled error occurs

    }

    void Session_Start(object sender, EventArgs e) 
    {
        // Code that runs when a new session is started

    }

    void Session_End(object sender, EventArgs e) 
    {
        // Code that runs when a session ends. 
        // Note: The Session_End event is raised only when the sessionstate mode
        // is set to InProc in the Web.config file. If session mode is set to StateServer 
        // or SQLServer, the event is not raised.

    }
       
</script>
