﻿body
{
    font-size:x-small;
}

textarea
{
    font-size:x-small;
}
.Header
{
	color: #ffffff;
	background-color: #485889;
	font-size:large;
}
.txtbx 
{
    color:#485889;
	font-size:large;
}
#MasterTable
{
	height:250px;
}