<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Mobile.master.cs" Inherits="Master" EnableTheming="true" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <base target="_self" />
    <title>Master Page</title>
</head>

<script runat="server">
       
    public String MsgText
    {
        get
        {
            return Msg.Text;
        }
        set
        {
            Msg.Text = value;
        }
    }
</script>

<body leftmargin="0" topmargin="0">
    <form id="form1" runat="server" >
        <div>
            <div align="center" style="background-color:#485889;">
                <asp:Label ID="Msg" runat="server" SkinID="Header" Text="Welcome" Width="100%"></asp:Label>
            </div>
            <div id="MasterTable" align="center">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <%--<div align="center" style="background-color:#848484; ">
                <asp:LoginName ID="LoginName1" runat="server" /><asp:LoginStatus ID="LoginStatus1" runat="server" />
            </div>--%>
        </div>
    </form>
</body>
</html>
